/* under 1200px */

@media (max-width: 75em) {
  .game-container {
    max-width: 60rem;
  }
}

/* under 944px */

@media (max-width: 59em) {
  .game-container {
    max-width: 80rem;
  }
  html {
    font-size: 56.25%;
  }
}
/* under 752px */
@media (max-width: 47em) {
  .current {
    padding: 1.2rem 2.4rem;
  }
  .game-container {
    max-width: 65rem;
  }
  .button {
    padding: 1rem;
  }
  .btn {
    font-size: 1.4rem;
  }
}

/* under 600px */
@media (max-width: 37.5em) {
  .game-container {
    max-width: 50rem;
    padding: 1rem;
  }
  html {
    font-size: 50%;
  }
  .current {
    padding: 0.6rem 1.2rem;
  }
}

/* under 432px */

@media (max-width: 27em) {
  .game-container {
    max-width: 45rem;
    padding: 2rem;
  }
  .current {
    padding: 0.3rem 2rem;
  }

  .btn {
    font-size: 1rem;
  }
  .curent-name {
    font-size: 1.2rem;
  }
}
